/*Edit survey ================================================================*/

.survey-container {
  margin: auto;
  width: 720px;
  position: relative;
}

.survey h1 {
  font-size: 2em;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  color: #3F4944;
}

.survey {
  width: 590px;
  z-index: 3;
  position: relative;
  float: left;
}

.fixed-bar {
  position: fixed;
  width: 720px;
  height: 700px;
  /*border: 1px solid blue;*/
}

.button-bar {
  position: relative;
}

form div:first-child a {
  display: none;
}

.all-questions {
  border: 1px solid black;
  padding: 0 15px 15px 15px;
  background-color: #EFEDDF;
}

.all-questions form {
  text-align: left;
}

.nav-add {
  position: absolute;
  right: 0;
  top: 160px;
}

.nav-create {
  position: absolute;
  right: 0;
  top: 235px;
  color: white;
}

.floating-link {
  display: block;
  width: 130px;
  height: 50px;
  background-color: #228b9b;
  border: 0;
  border-radius: 2px;
}

.floating-link a {
  color: white;
  text-decoration: none;
  position: absolute;
  top: 18px;
  left: 16px;
}

/*Index page==================================================================*/

nav#main {
  padding: 20px 0px;
}

nav#main h1 {
  font-family: sans-serif;
  padding-left: 40px;
  font-size: 3em;
  color: #3F4944;
  width: 100%;
  display:inline;
  color: transparent;
  background: url("/images/monkey.png");
  padding-right: 70px;
}

nav#main ul {
  display:inline;
  float: right;
  padding-right: 40px;
}

nav#main ul li {
  display: inline;
}

.container {
  width: 100%;
  min-height: 600px;
  margin: 0 auto;
}

.landing {
  position: absolute;
  top: 100px;
  padding: 40px 0px;
  width: 100%;
  background-color: #EFEDDF;
}

.landing h2, h4 {
  text-align: center;
  color: #3F4944;
  margin: 0px;
}

.landing h2 {
  padding-bottom: 10px;
  font-size: 3.5em;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
}

.landing h4 {
  font-size: 2em;
  font-weight: 100;
  margin-bottom: 30px;
}


/*.landing p {
  color: #7C7C7F;
  width: 30%;
  font-size: 1.5em;
  margin-left: 400px;
}*/


header {
  position: relative;
}

.inner {
    display: block;
  position: relative;
}

.inner p {
  color: #7C7C7F;
  width: 30%;
  font-size: 1.5em;
  padding-top: 30px;
  padding-right: 200px;
}

.inner iframe {
  float: left;
  padding-left:100px;
}

.inner .right {
  float:right;
}

.inner button {
  margin-right: 310px;
  background-color: #228b9b;
  width: 20%;
  height: 50px;
  border: 0;
  border-radius: 2px;
}

.inner button a {
  text-decoration: none;
  color: white;
  font-family: Helvetica;
  font-weight: bold;
  font-variant: small-caps;
  font-size: 1.3em;
}

iframe {
  padding-top: 30px;
}


.outer {
  width: 80%;
  margin: 0 auto;
}

/*Footer======================================================================*/

footer {
  clear: both;
  padding-top: 40px;
  padding-left: 40px;
}
