<footer>
  <p>Created by</p>

  <img class="monkey" src="/assets/footer_monkey.png" alt="Monkey">
  <img class="img1" src="/assets/david.jpg" alt="david">
  <img class="img2" src="/assets/ryan.jpg" alt="ryan">
  <img class="img3" src="/assets/shivam.png" alt="shivam">
  <img class="img4" src="/assets/philip.jpg" alt="philip">

  <div class="img1">D-dubs from Canada! Livin' it up in the US of Eh!</div>
  <div class="img2">DJ R-SIX all the way from San Jose!</div>
  <div class="img3">Shivam D all the way from Dubai, kicking ass at the moment. Showing people how it's done.</div>
  <div class="img4">P-Woo, starting guard at UNC, movin' so fast you can't see!</div>
  <small>© 2013 Devbootcamp - Crafted in the breakout room of Devbootcamp.</small>
</footer>
