<footer class="short-footer">
  <div class="short-founders">
    <img class="short-monkey" src="/assets/short_footer_monkey.png" alt="Monkey">
  </div>
  <div class="short-footy-foots">
    <p class="small">© 2013 Devbootcamp - Crafted in the breakout room of Devbootcamp.</p>
  </div>
</footer>
