<footer>
<p>Created by</p>

<img class="monkey" src="/images/footer_monkey.png" alt="Monkey">
<img class="img1" src="/images/david.jpg" alt="david">
<img class="img2" src="/images/ryan.jpg" alt="ryan">
<img  class="img3" src="/images/shivam.png" alt="shivam">
<img class="img4" src="/images/philip.jpg" alt="philip">

<div class="img1">David Wen, currently a devbootcamp boot. Coming all the way from Canada, kicking ass at the moment. Showing people how it's done.</div>
<div class="img2">Ryan Guerrettaz, currently a devbootcamp boot. Coming all the way from San Jose, kicking ass at the moment. Showing people how it's done.</div>
<div class="img3">Shivam Daryanani, currently a devbootcamp boot. Coming all the way from Dubai, kicking ass at the moment. Showing people how it's done.</div>
<div class="img4">Philip Woo, currently a devbootcamp boot. Coming all the way from North Carolina, kicking ass at the moment. Showing people how it's done.</div>
<small>© 2013 Devbootcamp - Crafted in the breakout room of Devbootcamp.</small>
</footer>
