<nav id="main">
  <div class="logo">
    <a href="/"><img src ="/images/monkey.png"></a>
  </div>
  <div class="right-nav">
    <div class="avatar">
      <% unless @user.photos ==[] %><a href="/users/profile"><img src="<%= @user.photos.last.name.avatar.url %>"></a><% end %>
    </div>

    <div class="links">
      <ul>
        <% if session[:id] %>
          <li><a href="/users/profile">profile</a></li>
          <li><a href="/users/logout">logout</a></li>
        <% else %> 
          <li><a href="/">Home</a></li>
          <li><a href="/users/login">Login</a></li>
          <li><a href="/users/signup">Signup</a> </li>
        <%end %>
      </ul>
    </div>
  </div>
</nav>
