<nav id="main">
  <div class="logo">
    <a href="/"><img src ="/images/monkey.png"></a>
  </div> 
  <ul>   
    <% if session[:id] %>
      <li><a href="/users/profile">home</a></li>
      <li><a href="/users/logout">logout</a></li>
    <% else %> 
      <li><a href="/">Home</a></li>
      <li><a href="/users/login">Login</a></li>
      <li><a href="/users/signup">Signup</a> </li>
    <%end %>
  </ul>
</nav>
