<div class="profile-container">
  <div class="profile">
    <h1>Create a new survey</h1>
    
    <div class="picture">
      <form method="post" action "/survey/new" enctype="multipart/form-data">
        <input type="text" name="title" placeholder="Title" class="title"><BR><BR>
        <textarea name="description" rows="7" placeholder="Description" style="text-align: center"></textarea><br>
        <p>Upload a photo (optional)</p>
        <input type="file" name="filename"><BR><BR>
        <input type="submit" value="make survey" class="button">
        <p><%= @errors %></p>
      </form>
    </div>
  </div>
</div>