<div class="survey-container">
  <div class="survey">
    <h1>Create "<%= @survey.title %>"</h1>

    <div class="all-questions">
      <form action="#" method="post" class="<%= @survey.id %>" id="update">

        <div class="question" id="1">
          <p>Question <a href="#">Remove</a></p>
          <input type="text" name="question1" placeholder="Question" autofocus="autofocus"><br>
          <p>Choices</p>
          <textarea name="choice1" placeholder="Enter each choice on a different line" rows="7"></textarea><br>
          
        </div>
        
      </form>
    </div>
  </div>

  <div class="fixed-bar">
    <div class="button-bar">
      <div class="nav-add floating-link"><a href="#" id="add-question">Add Question </a><br><span class="arrow"></span></div>
      <div class="create">
      <input type="submit" value="Create Survey" class="nav-create floating-link" id="create-survey"><span class="arrow2"></span></div>
    </div>
  </div>
</div>