<div class="landing">
  <div class="outer">
  <header>
    <h2>Create your own survey</h2>
    <h4>No setup. No hassle. Just clean surveys.</h4>
    <div class="inner">
      <iframe width="400" height="250" src="http://www.youtube.com/embed/4LVPOJUHBRE" frameborder="0" allowfullscreen></iframe>

      <section>
        <p class="right">Survey Chimp allows you to create create detailed surveys, send them out and receive instant feedback.</p>
        <button class="right"><a href="/users/signup">create free account</a></button>
      </section>
    </div>
  </header>
  </div>
</div>


