<div class="landing">
  <div class="outer">
  <header>
    <h2>Create your own survey</h2>
    <h4>No setup. No hassle. Just clean surveys.</h4>
    <div class="inner">
    <iframe width="450" height="253" src="http://www.youtube.com/embed/qFYTjbDA6z4?rel=0" frameborder="0" allowfullscreen></iframe>

      <section>
        <p class="right">Survey Chimp allows you to create detailed surveys, send them out, and receive instant feedback.</p>
        <button class="right"><a href="/users/signup">create free account</a></button>
      </section>
    </div>
  </header>
  </div>
</div>


