<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800' rel='stylesheet' type='text/css'>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/js/form_validations.js"></script>
    <script src="/js/jqBarGraph.1.1.js"></script>
    <script src="/js/application.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="/js/footer.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>

    <title>Survey Chimp</title>
  </head>
  
  <body>
    <div>  
      <%= erb :"partials/_nav" %>
    </div>
    <div class="container">
      <%= yield %>
    </div>
    <div>
      <% if @home_footer %>
        <%= erb :"partials/_footer" %>
      <% else %>
        <%= erb :"partials/_footer_short" %>
      <% end %>
    </div>
  </body>
</html>
