<form action="/users/signup" method="post" class="signup">
  <input type="text" name="username" placeholder="Username">
  <input type="email" name="email"  placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Signup!">
</form>
