<h1>Chimp thanks you for taking Survey!</h1>
<% if @user %> 
<a href="/users/profile">Go back to your profile!</a>
<% else %>
Wanna Sign up to this awesome website? Click <a href="/users/signup">here</a>
<% end %>
